<div class="calculator-container">
  <h1 class="title">Thunder Distance <span class="icon">⚡</span></h1>
  <h4 class="sub-title">Presiona el botón cuando veas el rayo, y velve a presionar cuando lo escuches para obtener una distancia aproximada.</h4>
  <div class="button-container">
    <button 
      (click)="toggleTimer()" 
      [class.active]="isTimerRunning"
      class="calculator-button"
    >
      <span class="icon">{{ isTimerRunning ? '👂' : '👁️' }}</span>
      <span class="icon">⚡</span>
    </button>
  </div>
  @if(distance !== null){
      <p class="result">
        Distancia aproximada: {{ distance | distancia }}
      </p>
  } 

</div>

@if(listaDistancias.length > 0){
  <div class="history-container">
    <app-historial [listaDistancias]="listaDistancias"></app-historial>
  </div>
}