.history-container {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    transform: translateY(0);
  }
  
  .history-content {
    padding: 20px;
    max-height: 40vh;
    overflow-y: auto;
  }
  
  .history-toggle {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
  }
  
  .history-toggle::before {
    content: '▲ Historial';
  }
  
  .history-container.collapsed {
    transform: translateY(calc(100% - 40px));
  }
  
  .history-container.collapsed .history-toggle::before {
    content: '▼ Historial';
  }
  
  /* Ajuste para pantallas pequeñas */
  @media (max-width: 768px) {
    .history-content {
      padding: 15px;
      max-height: 50vh;
    }
  }
  

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    font-family: Arial, sans-serif;
  }

  .calculator-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin-bottom: calc(40vh + 20px); 
  }

  title {
    color: #1d08df;
    font-size: 1.8rem;
    margin-bottom: 0.1rem; /* Reducido para acercar el subtítulo */
  }
  
  .sub-title {
    color: #332929;
    font-size: 0.5rem;
    margin-top: 0; /* Asegura que no haya espacio adicional arriba */
    margin-bottom: 2rem; /* Mantiene el margen inferior */
  }

  .button-container {
    margin-bottom: 2rem;
  }

  .calculator-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .calculator-button:hover {
    transform: scale(1.05);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
  }

  .calculator-button.active {
    background-color: #f44336;
  }

  .icon {
    margin: 0 0.25rem;
  }

  .result {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin-top: 1rem;
  }

  @media (min-width: 768px) {
    .calculator-container {
      padding: 3rem;
    }

    .title {
      font-size: 2.2rem;
    }

    .calculator-button {
      padding: 2rem;
      font-size: 2.5rem;
    }

    .result {
      font-size: 1.5rem;
    }
  }